<p id="notice"><%= notice %></p>

<h1>Listing Kamokus</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @kamokus.each do |kamoku| %>
      <tr>
        <td><%= kamoku.name %></td>
        <td><%= link_to 'Show', kamoku %></td>
        <td><%= link_to 'Edit', edit_kamoku_path(kamoku) %></td>
        <td><%= link_to 'Destroy', kamoku, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Kamoku', new_kamoku_path %>
