<p id="notice"><%= notice %></p>

<p>
  <strong>日付:</strong>
  <%= @keihi.date %>
</p>

<p>
  <strong>科目:</strong>
  <%= @keihi.kamoku.name %>
</p>

<p>
  <strong>適用:</strong>
  <%= @keihi.tekiyou %>
</p>

<p>
  <strong>金額:</strong>
  <%= @keihi.kingaku %>
</p>

<%= link_to '編集', edit_keihi_path(@keihi) %> |
<%= link_to '戻る', keihis_path %>
